#
# .gitconfig
#

[core]
    excludesfile = ~/.gitignore
    editor = nvim
    autocrlf = false
    eol = lf
    ignorecase = false
    quotePath = false

[color]
    ui = auto
    status = auto
    branch = auto
    diff = auto
    interactive = auto
    grep = auto

[column]
    ui = never

[help]
    autocorrect = 30
    format = man

[init]
    defaultBranch = main

[pull]
    rebase = true
    ff = only

[push]
    default = current
    followTags = true

[fetch]
    prune = true

[rebase]
    autostash = true

[diff]
    tool = nvimdiff
    colorMoved = default

[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"

[merge]
    tool = nvimdiff
    conflictstyle = zdiff3

[mergetool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED"
    trustExitCode = true

[filter "lfs"]
    clean    = git-lfs clean -- %f
    smudge   = git-lfs smudge -- %f
    process  = git-lfs filter-process
    required = true

[alias]
    ## --- Modern core ---
    sw = switch
    rs = restore
    rst = restore --staged
    st = status -sb

    ## --- Branch ---
    br = branch
    ba = branch -a
    bm = branch --merged
    bn = branch --no-merged
    bclean = "!git branch --merged | egrep -v '\\*|main|master|develop|dev' | xargs -n 1 git branch -d"

    ## --- Commit ---
    ci = commit
    ca = commit -a
    amend = commit --amend --no-edit

    ## --- Rebase ---
    rc = rebase --continue
    ra = rebase --abort
    rski = rebase --skip

    ## --- Diff ---
    d = diff
    ds = diff --staged

    ## --- Logs ---
    lg = log --oneline --decorate --graph --color

    td = log --since=midnight --color --graph \
        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)[%an]%Creset'

    yd = log --since=yesterday --until=midnight --color --graph \
        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)[%an]%Creset'

    hist = log --pretty=format:'%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s %C(yellow)%d%Creset' \
            --graph --date=relative --decorate --all

    ## --- fzf-powered commit finder ---
    find = "!f() { \
        git log --pretty=format:'%h %ad %an %s' --date=short \
        | fzf --ansi --no-sort --reverse \
        | awk '{print $1}' \
        | xargs -I {} git diff {}^ {}; \
    }; f"

    ## --- File conflict helpers ---
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; nvim `f`"
    add-unmerged  = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

    ## --- Git object introspection ---
    type = cat-file -t
    dump = cat-file -p

    ## --- Detached HEAD (unico caso rimasto) ---
    co = checkout

[user]
    name = Marco Tondi
    email = marco.tondi@exprivia.com

# identità personale ai repository privati
[includeIf "gitdir:C:/dev/personal/"]
    path = ~/.gitconfig-personal


[credential "https://bitbucket.springlab.enel.com"]
    provider = bitbucket
